<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>
</head>
<body>
    {% if web["form"] == False %}
    <form action="{{url_for('catch_data')}}" method="POST">
        {% if web["fields"] %}
            {% for field in web["fields"] %}
            <label for="{{field}}" >{{field}}</label>
            <input type="text" name="{{field}}" />
            {% endfor %}
        {% endif %}
        <input type="submit" value="Enviar" />
    </form>
    {% endif %}
    <div class="board" style="border:1px solid black;height:200px;width:200px;">
        {% if web["imprime"] == True %}
            {{ web["web_print"] }}
        {% endif %}
    </div>
</body>
</html>
