<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página inicial</title>
</head>
<body>
    {% if web["fields"].keys()|length > 0 %}
    <form action="" method="POST">
        {% if web["fields"] %}
            {% for field in web["fields"] %}
            <label for="{{field}}" >{{field}}</label>
            <input type="text" name="{{field}}" />
            {% endfor %}
        {% endif %}
        <input type="submit" value="Enviar" />
    </form>
    {% endif %}
    {% if web["result_ready"] == True%}
    <div class="board" style="border:1px solid black;height:200px;width:200px;">
        {{ web["fields"].values()|sum }}
    </div>
    {% endif %}
</body>
</html>
